%header.navbar.navbar-fixed-top
	.navbar-inner
		.container
			%a.brand{href: "#hero"} SWITCH
			%ul.nav.visible-desktop
				%li
					%a{href: "#setup"} Easy Set up
				%li
					%a{href: "#control"} Complete Control
				%li
					%a{href: "#apps"} Apps for lights
/				%ul.nav.pull-right
/					%li
/					%a{href: "#"} Blog
				
#hero.hero-unit
	.container
		.row
			.span6
				%h1 Connected lights, connected home.
				%p SWITCH connects your lights to the internet and gives you limitless control over your home. Remote control, scheduling, notifications, and dance parties, all from our website and iPhone/Android apps.
			.span6
				.video
					<iframe src="http://fast.wistia.com/embed/iframe/7ea3c32f60?playerColor=121212&version=v1&videoHeight=360&videoWidth=640&volumeControl=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" width="640" height="360"></iframe>
- if flash[:notice]
	.signup.green
		.container
			.row
				.span12
					%p.notice= flash[:notice]
- else
	.signup
		.container
			.row
				.span6
					%p
						%strong SWITCH is coming in Fall 2012.
					%p Be the first to know when it's ready.
				.span6.signup-form
					= render 'form'
.container
	- if flash[:notice]
		.arrow.green
	- else
		.arrow
	#setup.row
		.span4
			.image
				= image_tag "so-easy.png"
		.span8
			.text
				%h1 Painless set-up and oh so easy to use.
				%p It's easy to set up your SWITCH Sockets. Simply plug one into every standard lightbulb socket that you want to control, and connect any normal lightbulb. Use our smartphone app to connect the sockets to Wi-Fi, and you're ready to go.
				%p Once you're set up, you can control your lights from any internet-enabled device - and you can still control them from the wall switch, too. And did we mention that our sockets make your lights fully dimmable?* Time for some mood lighting...
				%p.footnote * Dimming requires an incandescent bulb, a dimmable CFL, or an LED lightbulb. Sorry, normal CFLs... you're just not ready for us.
	%hr.soften
	#control.row
		.span4.pull-right
			.image
				= image_tag "devices.png"
		.span8
			.text
				%h1 Control from your phone... or anywhere.
				%p Out of the box, your lights can already do so much more. You can control them from anywhere using your phone, tablet, or computer. Schedule your lights to keep your home safe while you're away. Wake up easier with an alarm clock that fades up your lights slowly. Stay connected by setting your lights to flash when you have a new email.
				%p Suddenly your lights are so much more than just <em>lights</em>.
				
	%hr.soften
	#apps.row
		.span4
			.image
				= image_tag "apps.png"
		.span8
			.text
				%h1 Apps make it even cooler.
				%p Developers can use our RESTful API to write apps that can interact with your lights. What does that mean for you? Soon any app can interact with your lights. Imagine that your lights got brighter when you're reading a book with an eBook reader, and dimmer when you're watching TV on Hulu. Imagine that your lights turn off automatically when you leave for work, and turn on automatically when you arrive home. Anything is possible when left to the imaginations of talented software developers.
%footer
	.container
		.row
			.span3
				%h5 News
				%ul
					%li
						%a{href:"http://blog.switchdevices.com"} Blog
			.span3
				%h5 Social
				%ul
					%li
						%a{href:"http://www.facebook.com/switchdevices"} Facebook
					%li
						%a{href:"http://www.twitter.com/switchdevices"} Twitter
			.span3
				%h5 Help
				%ul
					%li
						%a{href:"#contactmodal", data: {toggle: "modal"}} Contact Us
#contactmodal.modal.hide.fade
	.modal-header
		%button.close{type: "button", data: {dismiss: "modal"}} &times;
		%h3 Contact us
	.modal-body
		%p We'd love to hear from you. If you want to chat, shoot us an email at:
		%a{href: "mailto:hello@switchdevices.com"} hello@switchdevices.com
	.modal-footer
		%a.btn{href: "#", data: {dismiss: "modal"}} Close
					